* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #a6a6a6;
}

:root {
  --cor1-borda: #ff4600;
}
body {
  background-color: #181a1b;
  border: 3px solid var(--cor1-borda);
  margin: 20px;
}

div.de-para{ 
  margin: 20px;
}
span {
  color: #ff4600;
}

/* img.poster {
  max-width: 100%;
  align-items: center;
} */

img.para-mandarin {
  max-width: 50%;
}

h2.de-luis {
    text-indent: 20px;
    font-size: 2.5em;
    margin-top: 15px;
    margin: 20px;
    font-size: 3em;
}

h2.para-mandarin {
    text-indent: 40px;
    margin-top: 15px;
    margin: 20px;
    font-size: 3em;
}

h1 {
    margin: 40px auto 20px;
    text-align: center;
    /* border: 4px ridge var(--cor1-borda); */
}

p {
    text-align: justify;
    padding: 20px;
    text-indent: 3em;
    font-size: 2em;    
}

footer {
    background-color: #ff4600;
}

footer > p {
    text-align: center;
    color: #181a1b;
}

img.logo-contatos {
    max-width: 5%;
    margin-left: 13px;
    display: inline;
}

h3 {
    margin: 15px;
}

div.links-contato {
    margin: 5px 0 15px;
}

/* ////////////////////////////////////////////////// */


div.video {
  margin: 0 -20px 30px -20px;
  /*os negativos são para 'engolir' as margens e paddings do 'main'*/
  padding: 20px auto;
  /*A PARTIR DAQUI E NA DIV ABAIXO É MACETE PURO*/
  padding-bottom: 57%; /*eliminar as barras pretas horizontais*/
  position: relative;
}

div.video>iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

